pytest==7.*         # tests
pylint==2.*         # style
black               # style
coverage==6.*       # coverage
mkdocs==1.*         # docs
twine               # pypi tools
setuptools          # packaging
wheel               # packaging
