-r requirements-testing.txt
pylint~=2.0         # style
black               # style
coverage~=6.0       # coverage
mkdocs~=1.0         # docs
twine               # pypi tools
setuptools          # packaging
wheel               # packaging